

title.akas.tsv
title.basics.tsv
title.crew.tsv
title.episode.tsv
title.principals.tsv
title.ratings.tsv
name.basics.tsv

spark-simple-example.iml

spark-warehouse

data

/.idea/

src/main/resources/name.basics.tsv.gz
src/main/resources/title.akas.tsv.gz
src/main/resources/title.basics.tsv.gz
src/main/resources/title.crew.tsv.gz
src/main/resources/title.episode.tsv.gz
src/main/resources/title.principals.tsv.gz
src/main/resources/title.ratings.tsv.gz

/target